* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.randomizer {
  background-color: white;
  width: 500px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;

  &__generate {
    background-color: white;
    color: black;
    border: 2px solid #8cbcf6;
    border-radius: 10px;

    &:hover {
      box-shadow: 10px 5px 5px #8cbcf6;
    }

    &:disabled {
      background-color: grey;
      border: 2px solid grey;

      &:hover {
        box-shadow: 10px 5px 5px grey;
      }
    }
  }

  &__reset {
    background-color: white;
    color: black;
    border: 2px solid #4c9daf;
    border-radius: 10px;

    &:hover {
      box-shadow: 10px 5px 5px #4c9daf;
    }
  }

  &__input {
    input {
      border: 2px solid darkslategrey;
      border-radius: 5px;

      &:focus {
        outline-color: rgba(0, 196, 255, 0.84);

      }
    }

    &:nth-of-type(2n) {
      input {
        border: 2px solid cadetblue;
        border-radius: 5px;
      }
    }
  }

  &__text {
    margin: 15px;
  }
}